body
{
	background: black;
}
#logo{

	width: 100%;
	text-align: center;
	color: white;
	margin-top: 120px;


}
#button {
	text-align: center;
	font-size: 16px;
}
#footer{
	clear: both;
	float:left;
	width: 100%;
	height: 80px;
	line-height: 80px;
	font-size: 24px;
	color:black;
	background:#00bebe;
	text-align: center;
	margin-top: 300px;
}

button
{
  
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    background:#00bebe;
	cursor: pointer;

}

