{% extends '/administration.html' %}
{%block header%} <h3 style="color: #00bebe; text-align: center;"  class="animated zoomIn"><strong>Governing Body</strong></h3>{%endblock%}
{%block rightside%}



      <div class="row" align="center">
        <div class="col s12 m9">
        	<h4 style="color: #00bebe; text-align: center;"  class="animated zoomIn"><strong>The Following Are The Members</strong></h4>
        	 {% for event in events %}
          <div class="card black">
            <div class="card-content white-text">
              <span class="card-title"> <i class="material-icons">account_circle</i>Name:{{ event.Name|e }} </span>
              <p> <i class="material-icons">home</i>Address:{{ event.Address|e }} </p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>


{%endblock%}