{% extends 'dashboard/dash.html' %}
{%block leftside%}  <!--start leftside block-->
<style type="text/css">
   input,textarea,h2{
    color: #00bebe;
  }
</style>
<script type="text/javascript">
function validate()
{ 
 var i=document.getElementsByTagName("input");
  if (i[0].value.length==0||i[1].value.length==0||i[2].value.length==0||i[3].value.length==0)
  {
  Materialize.toast('Invalid Submission', 3000 , 'rounded')
  return false;
  }
  else
  {
    Materialize.toast('Submit', 0 , 'rounded')
    return true;
  }
}
function toggle_div_fun(id)
{
  var divelement = document.getElementById(id);
  if(divelement.style.display == 'none')
  divelement.style.display = 'block';
  else
  divelement.style.display = 'none';
}
</script>
<div class="row">
  <div  class="col s12 m3  ">
    <div class="card #ede7f6 deep-purple black" style="height:auto; width: auto;">
      <div class="tooltipped" data-position="top" data-delay="50" data-tooltip="OPERATION">
        <div class="card-content white-text">
          <span class="card-title">OPERATIONS</span>
            <ul>
              <a href="/adminPanel"><li><i class="fa fa-tv"></i>Dashboard</li></a>
              </ul>
            </div>
          </div>
        </div>
      </div>
{%endblock%}
{%block rightside%} <!--start leftside block-->
<div class="col s12 m9" >
 <div class="card #e8eaf6 indigo black" style="height:auto;width: auto;">
    <div class="card-content white-text">
     <H2  class="animated zoomIn" ><strong>Add New Notification</strong></H2>
      <div class="row   ">
        <form name="notification" class="col s12  " method="POST" action="/utils/request.php" enctype="multipart/form-data" onsubmit=" return validate()">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">date_range</i>
                  <input id="icon_prefix" type="date" name="notificationDate" id="notificationDate" class="validate" >
                    <label for="icon_prefix"></label>
                  </div>
                </div> 
       
    <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" name="notificationTag" id="notificationTag" class="validate">
          <label for="icon_prefix">Notification Tag</label>
        </div>
      </div> 
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="icon_prefix2" name="notificationDescription" id="notificationDescription" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">Notification Description</label>
      </div>
  </div>
    <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <input type="file" name="notificationImage">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" placeholder="Upload Image" type="text" name="notificationImage">
      </div>
    </div>
     <div  style="text-align: center;">
  <button  class="btn waves-effect waves-light " type="submit" name="addNotification">Submit 
      <i  class="material-icons right">send</i>
    </button></div>
</form>


</div>
     
  </div>
 </div>
 </div>
</div>
<div align="center" class="card-panel teal black" style="color: white; margin-top: 10%; margin-bottom:1%;"><br>
 <a onclick="toggle_div_fun('sectiontohide');" class="btn waves-effect waves-teal">Show/Hide</a>
<br /><br />
<div id="sectiontohide" style="display: none;">   
<div class="animated zoomIn" >
<div id="striped" class="section scrollspy">
        <h2><strong>SHOW ALL NOTIFICATION</strong></h2>
        <div class="row">
          <div class="col s12">
            <p>Here You Can Delete Any Notification</p><br><br>
            <table class="responsive-table">
                {% for event in events %}
   <thead>

          <tr>
              <th> DATE</th>
              <th>TAG LINE</th>
              <th>DESCRIPTION</th>
              <th>IMAGE</th>
              <th>DELETE</th>
          </tr>
        </thead>
  
        <tbody>
          <tr>
            <td> {{ event.notificationDate|e }}</td>
            <td>{{ event. notificationTag|e }}</td>
            <td>{{ event.notificationDescription|e }}</td>
            <td> <img style="height: 50px;width: 50px;" src="/utils/{{ event.notificationImage|e }}" class="materialboxed"></img></td>
            <td><a href='/adminPanel/Notification/deleteNotification?id={{ event.id|e }}'><i class="medium material-icons">delete_forever</i></a></td>
          </tr>
        </tbody>
        {% endfor %}
 </table>
           </div>
        </div>
      </div></div>




</div>

{%endblock%}







