{% extends '/facilities.html' %}
  {%block header%} <h1 style="color: #00bebe; text-align: center;"  class="animated zoomIn"><strong>Chapel</strong></h1>{%endblock%}
{%block rightside%}
<script type="text/javascript">
	    $(document).ready(function(){
      $('.slider').slider();
    });
</script>
    <div class="row">
        <div  class="col s12 m9">
        	     <div class="slider">
    <ul class="slides">
      <li>
        <img  src="/images/chapel.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h5 class="light black-text text-lighten-3">sgfdskhjfgdskjgskj</h5>
        </div>
      </li>
    </ul>
  </div>
          <div class="card black">
            <div class="card-content white-text">
              <span class="card-title"><h1 style="color: #00bebe;"><strong>About Chapel</strong></h1></span>
              <p> The chapel provides a worship space, a place for private prayer or reflection and personal service to a population which is temporary or transient</p>
            </div>
          </div>
        </div>
      </div>



{%endblock%}