{% extends '/facilities.html' %}
  {%block header%} <h1 style="color: #00bebe; text-align: center;"  class="animated zoomIn"><strong>Medical</strong></h1>{%endblock%}
{%block rightside%}


      <div class="row">
        <div class="col s12 m9">
          <div class="card black">
            <div class="card-content white-text">
              <span class="card-title"><h1 style="color: #00bebe;"><strong>About Medical</strong></h1></span>
              <p>College has a medical room with all the necessary first aid and a mobile stretcher. A nurse has also been appointed for providing proper first aid during emergencies. On-call Doctor visit facility is also available. Hansraj is well connected to a hospital which is within 500m of its main gate.</p>
            </div>
\
          </div>
        </div>
      </div>

{%endblock%}