{% extends '/academices.html' %}
{%block header%} <h1 style="color: #00bebe; text-align: center;"  class="animated zoomIn"><strong>Prize And Awards</strong></h1>{%endblock%}
{%block rightside%}

<div class="row">
  <h1 align="center"  style="color: #00bebe;">Prizes and Awards will be declared before Annual Function. </h1>
      {% for event in events %}
        <div class="col s12 m3">
  <div class="card">
    <div class="card-image ">
      <img class="materialboxed" data-caption="Sport Image" src="/utils/{{ event.Image|e }}">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><p> Name </p>{{ event.Name|e }}<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><p>Name </p>{{ event.Name|e }}<i class="material-icons right">close</i></span>
      <p>{{ event.Description|e }}.</p>
    </div>
  </div>
        </div>
           {% endfor %}
      </div>

{%endblock%}